
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: white;
}

.flex-container {
    display: flex;
    margin: 20px;
    column-gap: 20px;
}

.section {
    border-bottom: 2px solid #ea501e;
}

.introduction,
.d-element,
.eponymous {
    background-color: #007bc1;
    color: white;
    border: 2px solid #ea501e;
}

.grid-container {
    display: grid;
    justify-items: space-around;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    margin-left: 20px; 
}

.simone-skills {
    margin-top: 15px;
}

.new-skills {
    margin-top: 15px;
}

figcaption {
    font-size: small;
}