
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: white;
}

.flex-container {
    display: flex;
    margin: 20px;
    column-gap: 20px;
}

.section {
    border-bottom: 2px solid #ea501e;
}

.introduction,
.d-element,
.eponymous {
    background-color: #007bc1;
    color: white;
    border: 2px solid #ea501e;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    /* justify-items: space-around; */
    /* gap: 10px; */
    /* grid-template-columns: 1fr 1fr 1fr; 
    /* grid-auto-columns: minmax(10px, auto); */
    /* grid-template-rows: 1fr ; */
    /* justify-content: center;
    align-content: start; */
    flex-wrap: wrap;
    height:200px;
    width: 900px;
    column-count: 2;
    justify-content: space-around;
    
}

.pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 300px;
    
   
}

.new-skills {
    width: 200px;
    height: 125px;
    border: 2px solid #ea501e;
    
}

.simone-skills {
    width: 200px;
    height: 125px;
    border: 2px solid #ea501e;
    
}



figcaption {
    font-size: small;
}

footer {
    font-size: x-small;
    margin-left: 500px;
}