
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background: white;
}

.flex-container {
    display: flex;
    margin: 20px;
    column-gap: 20px;
}

.section {
    border-bottom: 2px solid #ea501e;
}

.introduction,
.d-element,
.eponymous {
    background-color: #007bc1;
    color: white;
    border: 2px solid #ea501e;
}

.flex-container2 {
    display: flex;
    flex-direction: row;
    /* justify-items: space-around; */
    /* gap: 10px; */
    /* grid-template-columns: 1fr 1fr 1fr; 
    /* grid-auto-columns: minmax(10px, auto); */
    /* grid-template-rows: 1fr ; */
    justify-content: center;
    align-content: start;
    border: 2px solid #ea501e;
    flex-wrap: wrap;
    height:300px;
}

.simone-skills {

}

.new-skills {
  
}

.pics {
    width: 175px;
    height: 98px;
    align-self: center;
}

figcaption {
    font-size: small;
}

/* footer {
    margin-top: 50px;
} */