* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-image: url('fig-header.jpg');
    background-attachment: static;
    background-repeat: no-repeat;
    background-position: right top;
    background-blend-mode: lighten;
}

header {
    color:black;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.yeo-vid,
.martins-vid,
.df-vid,
.sugihara-vid,
.maldonado-vid {
    width: 400px;
    height: 225px;
}